body,ul,h1,h2,h3,h4,h5,h6,p,li,input,dl,dd{margin:0;padding:0;}
ul{list-style: none;}
a{text-decoration:none;}
img,input,textarea{border:none;}
body{font-family: arial,"Micorsoft YaHei","宋体";}	
body{background-color:#ededed}
/*头部*/
.top{box-shadow: 0 0 13px 0 rgba(0,0,0,05);background-color:#090909;width:100%;}
.t_inner{width:1220px;margin:0 auto;height:71px;}
.t_inner .logo{float:left;width:108px;height:30px;padding-top:19px;}
.t_inner ul{float:right}
.t_inner li{float:left;}
.t_inner li a{padding:0 25px;line-height:71px;height:71px;font-size: 12px;color:#c8c8c8;font-family:"Micorsoft YaHei" ;}
.t_inner li a:hover{color:red}
.t_inner .last{float:left;}
.t_inner .last a{padding-top:24px;padding:0 20px}
.t_inner .last span{padding:0 11px;line-height:71px;height:71px;font-size: 12px;color:3a3a3a;font-family:"Micorsoft YaHei" ;}
.t_inner .lasts a{padding:25px 9px 0 11px}
.h_inner{width:1220px;margin:0 auto;height:62px;}
.h_inner ul{float:left;}
.h_inner li{float:left;}
.h_inner li .innet{color:red}
.h_inner li a{padding-right:41px;line-height:62px;height:62px;font-size: 12px;color:#786666;font-family:"Micorsoft YaHei" ;}
.h_inner li a:hover{color:red}
.h_inner span{padding:0 20px;}
.h_inner .first a{padding-right:0px;}
.banner{width:1220px;margin:0 auto;}
.banner img{width:1220px;border-radius: 10px;}
/*底部*/
.footer{background-color:#fafafa}
.f_inner{height:283px;width:1220px;margin:0 auto;border-bottom:1px solid #dbdbdb;}
.f_inner dl{float:left;padding-top:86px;padding-right:75px;}
.f_inner .first{padding-left:52px;}
.f_inner dt{font-size:14px;line-height:44px;height:44px;color:#646464;}
.f_inner dd{font-size:12px;line-height:24px;padding-left:4px}
.f_inner dd a{color:#969696;}
.f_inner dd a:hover{color:red}
.f_inner .last dd{padding-left:0}
.f_inner .last dd img{padding-right:6px}
.f_inner .right{padding-right:16px;text-align: right;}
.f_inner .right h2{font-size:30px;line-height:45px;height:45px;color:#646464;padding-top:117px;}
.f_inner .right p{padding-right:4px;font-size:13px;line-height:45px;height:45px;color:#c3c3c3;}
.f_inner .button{padding:0 6px 0 18px;text-align:center;float:right;width:110px;height:32px;border:1px solid #dbdbdb;border-radius:10px;line-height:32px;background:url(../images/bot-bg_03.jpg) no-repeat 26px center}
.f_inner .button a{color:#000;}
.f_inner .button a:hover{color:#900;width:110px;height:32px;display:block}
.bot{background-color:#f5f5f5}
.b_inner{width:1220px;margin:0 auto;height:105px;}
.b_inner .left{float:left}
.b_inner .right{float:right;padding-right:16px}
.b_inner .left p{font-size:13px;line-height:20px;color:#757575;padding-top: 22px;}
.b_inner .left .text{font-size:13px;line-height:28px;height:28px;color:#757575;}
.b_inner .left span{font-size:13px;line-height:20px;color:#8b79d9;}
.b_inner .right p{font-size:13px;line-height:32px;height:32px;padding-left:28px;margin-top: 22px;background:url(../images/bot-bg_07.jpg) no-repeat left center}
.b_inner .right p a{color:#757575;}
.b_inner .right p img{padding-left:9px;padding-bottom:4px}
.bot_footer a{display:block;width:50px;height:50px;position: fixed;right:0px;bottom: 0px;}
.bot_footer a img{width:100%;height:100%;border-radius: 10px;border:1px solid #B8660E}
